{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 90,
  "overrides": [
    {
      "files": ["*.html", "*.json"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
